* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #817575c5;
}

header, nav, main, footer {
    padding: 15px;
}

header {
    display: flex;
    background-color:#e8670b;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 90px;
}

nav {
    background-color: #454440;
    position:sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #ffffff;
    list-style-type: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border-top-right-radius: 15px;
    color: black;
    font-weight: bold;
}

.button:hover {
    background-color: black;
    color: white;
    border-top-right-radius: 2px;
    transition: 0.2s all;
}

a {
    text-decoration: none;
}

h2 {
    padding: 15px  25px;
    background-color: #454440;
    color: white;
  }

h3 {
    color: white;
    padding: 10px  25px;
}

h4 {
    color: #d55e0a;
    font-size: 1em;
    justify-content:space-evenly;
    text-align: center;
}

h5 {
    color: black;
    font-size: 1em;
    justify-content:space-evenly;
    text-align: center;
}

.contenido  {
    display:flex;
    justify-content:space-around;
    align-items: justify;
    padding: 25px;
    color: black;
}

article {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-display: center;
}

.fotos {
    
    width: 20%;
    height: min-content;
}

.contenido article {    
    display: flex;    
    flex-direction: column;
    font-display: center;
    text-align: center;
    align-items: center;
}

#Ofertas .contenido article p {
    color: blue;
    font-size: 1em;
    text-align: center;  
}

#Categorias .contenido {
    display: flex;
    justify-content:center;
    flex-wrap:nowrap;
    padding: 25px;
    width: 50%;
    font-weight: bold;
    margin: 0 auto;
    padding: 25px;
}

#Categorias .contenido div {
    width: 100px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding-left: 20px;
    color: #d55e0a;
    }

#Contactanos form {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 500px;
    margin: 25px auto;
    background-color: #e8670b;
    padding: 25px;
}

#Contactanos form label {
    font-weight: bold;
}

.Masvendidos{
    align-items: stretch;
    justify-content: space-around;
    display: flex;
    text-align: center
}

.Masvendidos article {
    padding: 20px;
    width: 100px;
    display: inline-block;
    text-align: center;
    align-items: stretch ;
    justify-content: space-around;
}

footer {
    background-color:#e8670b;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
   
footer .redes {
    font-size: 2em;
}

footer .redes i {
    color: black;
    transition: 0.2s all;
}

footer .redes i:hover {
    color: #fa0000;
}

@media only screen and (max-width: 600px){
    .pictures {
        width: 60%;
    }
    header img {
        width: 60px;
    }
    header, nav, main, footer {
        padding: 10px;
        font-size: small;    
    }
}

@media only screen and (min-width: 600px){
    .pictures {
        width: 80%;
    }
    header img {
        width: 80px;
    }
    header, nav, main, footer {
        padding: 15px;
        font-size: medium;
    }
}

@media only screen and (min-width: 1000px){
    .pictures {
        width: 100%;
    }
    header img {
        width: 90px;
    }
    header, nav, main, footer {
        padding: 25px;
        font-size: larger;
    }
}
