*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #c4e9c1;
}

header {
    display: flex;
    background-color:#79d8b0;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}

header img {
    width: 90px;
}

header, nav, main, footer {
    padding: 25px;
}

.button {
    background-color: #eb9868;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border-top-right-radius: 15px;
    color: black;
    font-weight: bold;
}

.button:hover {
    background-color: black;
    color: white;
    border-top-right-radius: 2px;
    transition: 0.2s all;
}

nav {
    background-color: #f1cd57;
    position:sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
}

h3 {
    background-color: #eb9868;
    padding: 10px  25px;
}

h2 {
    padding: 15px  25px;
    background-color: #79d8b0;
}

.contenido  {
    background-color:#f1cd57;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}


.contenido article {
    background-color:#f1cd57;
    display: flex;    
    flex-direction: column;
    font-display: center;
    text-align: center;
    align-items: center;
}


h4 {
    color: red;
    font-size: 1em;
    justify-content: center;
    text-align: center;
}

#Ofertas .contenido article p {
    color: blue;
    font-size: 1em;
    text-align: center;  
}

   #Categorias .contenido {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 25px;
    width: 50%;
    margin: 0 auto;
}

   #Categorias .contenido div {
    width: 100px;
    background-color: #eb9868;
    text-align: center;
}

#Contactanos form {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 500px;
    margin: 25px auto;
    background-color: #f1cd57;
    padding: 25px;
}

#Contactanos form label {
    font-weight: bold;
}

.Masvendidos{
    align-items: stretch;
    justify-content: space-around;
    display: flex;
    background-color: #f1cd57;
    text-align: center
}

.Masvendidos article {
    padding: 20px;
    width: 100px;
    display: inline-block;
    text-align: center;
    align-items: stretch ;
    justify-content: space-around;
}

footer {
    background-color: #f1c430;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
   
footer .redes {
    font-size: 2em;
}

footer .redes i {
    color: black;
    transition: 0.2s all;
}

footer .redes i:hover {
    color: #fa0000;
}

@media only screen and (max-width: 600px){
    .pictures {
        width: 60%;
    }
    header img {
        width: 60px;
    }
    header, nav, main, footer {
        padding: 10px;
        font-size: small;    
    }
}

@media only screen and (min-width: 600px){
    .pictures {
        width: 80%;
    }
    header img {
        width: 80px;
    }
    header, nav, main, footer {
        padding: 15px;
        font-size: medium;
    }
}

@media only screen and (min-width: 1000px){
    .pictures {
        width: 100%;
    }
    header img {
        width: 90px;
    }
    header, nav, main, footer {
        padding: 25px;
        font-size: larger;
    }
}